{% extends 'base/base.html' %}

{% block content %}
<body class="hold-transition sidebar-mini layout-fixed" data-panel-auto-height-mode="height">
<div class="layout-footer-fixed">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light"  >
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        {% if request.user.role == 2 %}
        <a href="{% url 'company_home' %}" class="nav-link">Home</a>
        {% endif %}
        {% if request.user.role == 3 %}
        <a href="{% url 'jobs_list' %}" class="nav-link">Home</a>
        {% endif %}
        {% if request.user.role == 1 %}
        <a href="{% url 'admin_home' %}" class="nav-link">Home</a>
        {% endif %}
      </li>
      <!-- <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'logout' %}" class="nav-link">Logout</a>
      </li> -->
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
      <!-- <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li> -->

      
      <!-- Notifications Dropdown Menu -->
      <!-- <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="fa fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a> -->
          <!-- <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
          </a> -->
          <!-- <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li> -->
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color: #29237E;">
    <!-- Brand Logo -->
    <a href="index.html" class="brand-link">
      <img src="\static\images\xyz3.png" alt="" class=" img-circle elevation-3" width="55px" height="55px">
       <!-- change brand-image into width and height -->
      <span class="brand-text font-weight-light" style="color: white;">WorkSpot</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      {% if request.user.role == 3 %}
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          {% if request.user.applicantprofile.photo %}
          <img src="{{request.user.applicantprofile.photo.url}}" class="img-circle elevation-2" alt="User Image">
          {% else %}
          <img src="\static\images\xyz3.png" class="img-circle elevation-2" alt="User Image">
          {% endif %}
        </div>
        <div class="info">
          <a href="#" class="d-block" style="color: white;">{{request.user.applicantprofile.firstname}}</a>
        </div>
      </div>
      {% elif request.user.role == 2 %}
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{request.user.companyprofile.logo.url}}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block" style="color: white;">{{request.user.companyprofile.company_name}}</a>
        </div>
      </div>
      {% elif request.user.role == 1 %}
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="\static\images\xyz3.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block" style="color: white;">{{request.user.username}}</a>
        </div>
      </div>
     {% endif %}
      <!-- SidebarSearch Form -->
      <!-- <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div> -->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

               <!-- applicant -->
           {% if request.user.role == 3 %} 
           <li class="nav-item">
            <a href="{% url 'applicant_home' %}" class="nav-link">
              <i class="nav-icon fa fa-user"></i>
          
                <p>Profile</p>
             
            </a> 
          </li>
          <li class="nav-item">
            <a href="{% url 'jobs_list' %}" class="nav-link">
              <i class="nav-icon fa fa-briefcase"></i>
          
                <p>Jobserch</p>
             
            </a> 
          </li>
          <li class="nav-item">
            <a href="{% url 'notifications' %}" class="nav-link">
              <i class="nav-icon fa fa-bell"></i>
               <p> Notification</p>
            </a>
          </li>
          {% endif %}
          <!-- end applicant  -->
        <!-- company  -->
        {% if request.user.role == 2 %}
          <li class="nav-item">
            <a href="{% url 'delegate' %}" class="nav-link">
              <i class="nav-icon fa fa-plus"></i>
              <p>Add Delegate</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'addjob' %}" class="nav-link">
              <i class="nav-icon fa fa-plus"></i>
               <p>Add Job</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'company_joblist' %}" class="nav-link">
              <i class="nav-icon fa fa-list"></i>
                <p>
                  Job List
                </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'job_applicants' %}" class="nav-link">
              <i class="nav-icon fa fa-user"></i>
               <p>Applicants</p> 
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'all_delegates' %}" class="nav-link">
              <i class="nav-icon fa fa-users"></i>
               <p>All Delegates</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'all_users' %}" class="nav-link">
              <i class="nav-icon fa fa-users"></i>
               <p>All Users</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'com_notifications' %}" class="nav-link">
              <i class="nav-icon fa fa-bell"></i>
              <p>Notification</p> 
            </a>
          </li>
          {% endif %}
          <!-- end company  -->
          <!-- admin  -->
         {% if request.user.role == 1 %}
          <li class="nav-item">
            <a href="{% url 'admin_companies'%}" class="nav-link">
              <i class="nav-icon fa fa-building"></i>
               <p> Companies</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'admin_applicants'%}" class="nav-link">
              <i class="nav-icon fa fa-users" aria-hidden="true"></i>
              
               <p>Applicants</p> 
            </a>
          </li>
          <!-- change -->
          <li class="nav-item">
            <a href="{% url 'admin_approve' %}" class="nav-link">
              <i class="nav-icon fa fa-envelope" aria-hidden="true"></i>
              <p>Company Request</p>
            </a>
          </li>
          {% endif %}
          
         
          <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link">
              <i class="nav-icon fa fa-power-off"></i>
              <p>Logout</p> 
            </a>
          </li>
          <!-- 
          <li class="nav-item">
            <a href="{% url 'all_login' %}" class="nav-link">
              <i class="nav-icon fa fa-play-circle"></i>
             <p> Login </p> 
            </a>
          </li>
          -->
          <!-- <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fa fa-info-circle"></i>
               <p> About</p>
            </a>
          </li> -->
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper iframe-mode" data-widget="iframe" data-loading-screen="750">
    <div class="tab-content">
      
          {% block content1 %}
          
          {% endblock %}
          
    </div>
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
  <!-- <footer style='text-indent: 10px;'>
    <strong> Copyright &copy; 2022-2023 <a href="">WorkSpot.io</a>.</strong> 
     All rights reserved.
     <div class="float-right d-none d-sm-inline-block">
       <b>Version</b> 4.6.0
     </div>
   </footer> -->
</div>
<!-- ./wrapper -->
</div>

</body>


{% endblock %}
