<style>
    
    .error-notice{
      margin:5px; /* Make sure to keep some distance from all sides */
    }
    
    .oaerror{
      width:80%;
      background-color: #ffffff;
      padding:20px;
      border:1px solid #eee;
      border-left-width:5px;
      border-radius: 3px;
      margin:10px auto;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
    }
    
    .danger{
      border-left-color: #d9534f; /* Left side border color */
      background-color: rgba(217, 83, 79, 0.1); /*Same color as the left border with reduced alpha to 0.1*/
    }
    
    .danger strong{
      color:#d9534f;
    }

    .success{
        border-left-color: #56d94f; /* Left side border color */
        background-color: rgba(79, 217, 84, 0.1);
    }

    .danger strong{
      color:#56d94f;
    }
    </style>
    <div class="container">
        <div class="row">
            <div class="error-notice">
                <div class="oaerror success">
                    <strong>Email Authentication</strong>- Hurray your mail is verified !
                    <a href="{% url 'all_login' %}">Please Login</a>
                </div>
            </div>
        </div>
    </div>
    