{% extends 'base/frame.html' %}

{% block content1 %}

<section class="content">
  <div class="container-fluid">

    <!-- SELECT2 EXAMPLE -->
    <div class="card card-default">
      <div class="card-header" style="background-color:  #29237E; color: white;">
        <h3 class="card-title">Add Delegate</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">


              <div class="form-group">
                <label>Company Logo</label>
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="exampleInputFile" name="c_logo">
                    <label class="custom-file-label" for="exampleInputFile"></label>
                  </div>
                </div>
              </div>
              <!-- /.photo-->

              <div class="form-group">
                <label>Company Name</label>
                <input type="text" class="form-control" placeholder="Enter ..." name="c_name">
              </div>
              <!-- /.c_name -->

              
              <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" rows="3" placeholder="Enter ..." name="c_description"></textarea>
              </div>
              <!-- /.c_description -->

              <div class="form-group">
                <label>Location</label>
                <input type="text" class="form-control" placeholder="Enter ..." name="c_location">
              </div>
              <!-- /.c_location -->

              <div class="form-group">
                <label>website</label>
                <input type="url" class="form-control" placeholder="Enter ..." name="c_website">
              </div>
              <!-- /.c_location -->
            </div>
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          </div>
        </form>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
  </div>
  <!-- /.container-fluid -->
</section>

{% endblock %}