{% extends 'base/frame.html' %}
{% load static %}
{% block content1 %}

<section class="content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header" style="background-color:  #29237E; color: white;">
                <h3 class="card-title">Add Job</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Job Type</label>
                                    <select class="form-control select2bs4" style="width: 100%;" name="delegate">
                                        {% for i in delegates %}
                                      <option value="{{i.id}}">{{i.c_name}}</option>
                                        {% endfor %}
                                    </select>
                                    </div>

                                <div class="form-group">
                                <label>Job Title</label>
                                <input type="text" class="form-control" placeholder="Enter ..." name="job_title">
                                </div>

                                <div class="form-group">
                                <label>Job Description</label>
                                <textarea class="form-control" rows="3" placeholder="Enter ..." name="job_description"></textarea>
                                </div>

                                <div class="form-group">
                                <label>Job Type</label>
                                <select class="form-control select2bs4" style="width: 100%;" name="job_type">
                                  <option selected="selected">Select</option>
                                  <option value="Full_Time">Full Time</option>
                                  <option value="Part_time">Part Time</option>
                                  <option value="Contract">Contract</option>
                                  <option value="Internship">Internship</option>
                                </select>
                                </div>

                                <div class="form-group">
                                <label>Industry</label>
                                <input type="text" class="form-control" placeholder="Enter ..." name="industry">
                                </div>

                                <div class="form-group">
                                <label>Location</label>
                                <input type="text" class="form-control" placeholder="Enter..." name="location">
                                </div>

                                <div class="form-group">
                                <label>Job Field</label>
                                <input type="text" class="form-control" placeholder="eg:Nursing,Pharmacy,Data-analysis,Software Development ..." name="job_fields">
                                </div>

                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                <label>Salary</label>
                                <input type="number" class="form-control" placeholder="Enter ..." name="salary">
                                </div>

                                <div class="form-group">
                                <label>Education Requirements</label>
                                <input type="text" class="form-control" placeholder="Enter ..." name="education_requirements">
                                </div>

                                <div class="form-group">
                                <label>Experience Requirementse</label>
                                <input type="text" class="form-control" placeholder="Enter ..." name="experience_requirements">
                                </div>
                              
                                <div class="form-group">
                                <label>Skills and Qualifications</label>
                                <textarea class="form-control" rows="3" placeholder="Enter ..." name="skills_and_qualifications"></textarea>
                                </div>

                                <div class="form-group">
                                    <label>Application Deadline</label>
                                  <input type="date" name="application_deadline" required>` 
                                </div>
                                <!-- <div class="form-group">
                                <label>Application Deadline</label>
                                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" name="application_deadline"/>
                                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div> -->

                                <div class="form-group">
                                <label>No of vacancies</label>
                                <input type="number" class="form-control" placeholder="Enter ..." name="vacancy">
                                </div>

                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary">Post</button>
                            </div>
                    </div>
                </form>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</section>
{% endblock %}