{% extends 'base/frame.html' %}
{% load static %}
{% block content1 %}

<section class="content">
  <div class="container-fluid">
    <div class="card">


      <!-- Modal
    <div class="modal fade" id="view" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-4">
                <img src="" id="view_photo" alt="" width="150px" height="150px">
              </div>
              <div class="col-md-8">
                <h3 id="view_name"></h3>
                <p><strong>Email:</strong> <span id="view_email"></span></p>
                <p><strong>Phone:</strong> <span id="view_phone"></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->



      <div class="card-header" style="background-color:  #29237E; color: white;">
        <h3 class="card-title"> Applicants <i class="fa fa-database" aria-hidden="true"></i> </h3>
      </div>
      <div class="card-body p-0">
        <table class="table table-striped">
          <thead style="text-align: center;">
            <tr>
                <th style="width: 10px">#</th>
                <th>Applicant Name</th>
                <th>Company Name</th>
                <th>Job Title</th>
                <th>Resume</th>
                <th>Status</th>
                <th>View</th>  
                <th>Change Status</th>
            </tr>
          </thead>
          <tbody style="text-align: center;">
            {% for a in all %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{a.fk_user_pro.firstname}}</td>
              <td class="capitalize1">{{a.fk_company_job.fk_delegate.c_name}}</td>
              <td>{{a.fk_company_job.job_title}}</td>
              <td><a href="{{a.resume.url}}"><i class="fa fa-book" aria-hidden="true"></i></a></td>
              <td>{% if a.status == 'Accepted' %} 
                    <b class="text-success">Shortlisted <span><i class="fa fa-check-square" aria-hidden="true"></i></span></b>
                  {% elif a.status == 'Rejected' %}
                  <b class="text-danger">Ignored <span><i class="fa fa-window-close" aria-hidden="true"></i></span></b>
                  {% else %}
                  <b class="text-info">Pending <span><i class="fa fa-refresh" aria-hidden="true"></i></span></b>
                  {% endif %}
              </td>
              <td class="project-actions">
                <!-- <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#view" data-firstname="{{a.fk_user_pro.firstname}}" data-lastname="{{a.fk_user_pro.lastname}}" data-photo="{{a.fk_user_pro.photo.url}}" data-email="{{a.fk_user_pro.fk_user.email}}" data-phone="{{a.fk_user_pro.phone}}">
                  <i class="fa fa-smile-o" aria-hidden="true"></i>
                    View
                </button> -->
                <a class="btn btn-primary btn-sm" href="{% url 'applicant_view' a.id%}"><i class="fa fa-smile-o" aria-hidden="true"></i> View</a>                
              </td>
              <td class="project-actions">
                <form id="form1" action="" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    <select class="form-control  select bg-primary" style="width: 100%;" name="status" id="drop" >
                      <option selected >{{a.status}}</option>
                      <option value="Pending" >Pending</option>
                      <option value="Accepted">Accepted</option>
                      <option value="Rejected">Rejected</option>
                    </select>
                  </div>
                  <div>
                    <input type="text" name="appid" value="{{a.id}}" hidden>
                  </div>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<script>
      var selectElement = document.getElementById("drop");
      selectElement.addEventListener("change", function(event){
        var form = document.getElementById("form1");
        form.submit();
      })
</script>
<!-- <script>
  // Get the modal element
  var userProfileModal = document.getElementById("view");
  
  // Get the button that opens the modal
  var viewProfileButtons = document.querySelectorAll("[data-target='#view']");
  
  // Add a click event listener to each "View Profile" button
  for (var i = 0; i < viewProfileButtons.length; i++) {
    viewProfileButtons[i].addEventListener("click", function() {
      // Extract the data attributes from the clicked button
      var firstname = this.getAttribute("data-firstname");
      var lastname = this.getAttribute("data-lastname");
      var photo = this.getAttribute("data-photo");
      var email = this.getAttribute("data-email");
      var phone = this.getAttribute("data-phone");
  
      // Update the content of the modal with the user's profile information
      userProfileModal.querySelector("#view_name").textContent = firstname + " " + lastname;
      userProfileModal.querySelector("#view_photo").setAttribute("src", photo);
      userProfileModal.querySelector("#view_email").textContent = email;
      userProfileModal.querySelector("#view_phone").textContent = phone;
    });
  }
</script> -->


{% endblock %}