{% extends 'base/frame.html' %}
{% load static %}
{% block content1 %}

<section class="content">
  <div class="container-fluid">
    <div class="card">



      <div class="card-header" style="background-color:  #29237E; color: white;">
        <h3 class="card-title"> My Delegates <i class="fa fa-database" aria-hidden="true"></i> </h3>
      </div>
      <div class="card-body p-0">
        <table class="table table-striped">
          <thead style="text-align: center;">
            <tr>
                <th style="width: 10px">#</th>
                <th>Company Name</th>
                <th>Company Description</th>
                <th>Logo</th>
                <th>Website</th>
                <th>Company Location</th>
                <th>Update</th>  
                <th>Delete</th>              
            </tr>
          </thead>
          <tbody style="text-align: center;">
            {% for d in delegates %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td class="capitalize1">{{d.c_name}}</td>
                <td>{{d.c_description}}</td>
                <td> <img src="{{d.c_logo.url}}" alt="" width='50'  height="50" style=" border-radius: 50%;" ></td>
                <td>{{d.c_website}}</td>
                <td>{{d.c_location}}</td>
                <td><a href="{% url 'update_delegate' d.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                <td><a href="{% url 'delete_delegate' d.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

{% endblock %}