{% extends 'base/frame.html' %}
{% load static %}
{% block content1 %}

<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row mt-3">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-gradient-primary">
                    <div class="inner">
                        <h3>{{users.count}}</h3>

                        <p>No of Users</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-person-stalker"></i>
                    </div>
                    <a href="{% url 'job_applicants' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>


            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-gradient-info">
                    <div class="inner">
                        <h3>{{selected.count}}</h3>

                        <p>Selected Applicants</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-checkmark-circled"></i>
                    </div>
                    <a href="{% url 'selected_applicants' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>


            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{job.count}}</h3>

                        <p>No of Jobs</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-briefcase"></i>
                    </div>
                    <a href="{% url 'admin_job_details' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>{{live.count}}</h3>

                        <p>Live Jobs</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="{% url 'admin_live_jobs' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>


        <div class="row">
        <div class="col-md-4">
          <section class="card1" id="card1">
            {% for c in companydetail %}
            <!-- /.card-header -->
            <div class="card">
              <div class="card-body box-profile">
                <h5 class="widget-user-desc text-right"><a href="{% url 'company_edit' c.id%}" style="color:black"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></h5>
                <div class="text-center">
                  <img class="profile-user-img img-fluid" src="{{c.logo.url}}" alt="Logo">
                </div>
        
                <h3 class="profile-username text-center">{{c.company_name}}</h3>
        
                <p class="text-muted text-center">{{c.description}}</p>
        
                <ul class="list-group list-group-bordered ">
                  <li class="list-group-item">
                    <i class="fa fa-industry" aria-hidden="true" style="padding-left: 10px;"></i> <i style="padding-left: 10px;">{{c.industry}}</i>
                  </li>
                  <li class="list-group-item">
                    <i class="fa fa-globe" aria-hidden="true" style="padding-left: 10px;"></i> <i style="padding-left: 10px;">{{c.website}}</i>
                  </li>
                  <li class="list-group-item">
                    <i class="fa fa-envelope" aria-hidden="true" style="padding-left: 10px;"></i> <i style="padding-left: 10px;">{{c.fk_company.email}}</i>
                  </li>
                  <li class="list-group-item">
                    <i class="fa fa-phone-square" aria-hidden="true" style="padding-left: 10px;"></i> <i style="padding-left: 10px;">+91 {{c.phone_number}}</i>
                  </li>
                  <li class="list-group-item">
                    <i class="fa fa-map-marker" aria-hidden="true" style="padding-left: 10px;"></i> <i style="padding-left: 10px;">{{c.location}}</i>
                  </li>
                </ul>
        
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            {% endfor %}
          </section>
        </div>
        <div class="col-md-4">
            <section class="card1" id="card1">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Job Openings</h3>
                <div class="card-tools">
                    <a href="{% url 'company_joblist' %}"> 
                      <button type="button" class="btn btn-tool border" >More <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                      </a>
                  </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table">
                  <thead style="text-align: center;">
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Job Title</th>
                        <th>Vacancy</th>
                        <th>Current Status</th>
                    </tr>
                </thead>
                <tbody style="text-align: center;">
                    {% for l in job %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{l.job_title}}</td>
                        <td>{{l.vacancy}}</td>
                        {% if l.filled == True %}
                        <td>Filled</td>
                        {% else %}
                        <td>Unfilled</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </section>
        </div>
        <div class="col-md-4">
          <section class="card1" id="card1">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Job Applicants</h3>
              <div class="card-tools">
                  <a href="{% url 'job_applicants' %}"> 
                    <button type="button" class="btn btn-tool border" >More <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                    </a>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <table class="table">
                <thead style="text-align: center;">
                  <tr>
                      <th style="width: 10px">#</th>
                      <th>Job Title</th>
                      <th>Applicant</th>
                      <th>Current Status</th>
                  </tr>
              </thead>
              <tbody style="text-align: center;">
                  {% for a in applications %}
                  <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{a.fk_company_job.job_title}}</td>
                      <td>{{a.fk_user_pro.firstname}} {{a.fk_user_pro.lastname}}</td>
                      <td>{{a.status}}</td>
                  </tr>
                  {% endfor %}
              </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
      </section>
      </div>
        </div>




    </div>
</section>


{% endblock %}