{% extends 'base/frame.html' %}
{% load static %}
{% block content1 %}

<div class="container-fluid ">
    {% for a in all %}
<div class="card">
    <div class="card-header" style="background-color:  #29237E; color: white;">
      <h3 class="card-title">{{ forloop.counter }}. Notification</h3>
    </div>
    <!-- /.card-header --> 
    <div class="card-body">
        <label>From:</label> <i>{{a.fk_from.firstname}} {{a.fk_from.lastname}}</i>,<b> {{a.fk_from.fk_user.email}}</b>
        <br>
        <label>To:</label> <i>{{a.fk_to.fk_delegate.c_name}}</i>
        <br>
        <label>Message:</label> {{a.msg}}
    </div>
    <!-- /.card-body -->
  </div>
  {% endfor %}
</div>
{% endblock %}