{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WorkSpot | Company Registration</title>

 <!-- Google Font: Source Sans Pro -->
 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
 <!-- Font Awesome -->
 <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
 <!-- icheck bootstrap -->
 <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
 <!-- Theme style -->
 <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
  <!-- Favicons -->
  <link rel="icon" href="{% static '/images/favicon3.png' %}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static '/images/favicon3.png' %}" type="image/x-icon"> 
</head>
<body class="hold-transition register-page" style="background-color:   #042474;">

  <style>
    .row {
        display: flex;
        justify-content: space-between;
    }
    
    .column {
        flex-basis: 49%;
    }
    .column1 {
        flex-basis: 20%;
    }
    .column2 {
        flex-basis: 78%;
    }
  </style>

<div class="register-box">
  <div class="register-logo">
    <a href="" style="color: white;"><b>WORKSPOT</b></a>
  </div>

  <div class="card">
    <div class="card-body register-card-body">
      <p class="login-box-msg">Register a new membership</p>
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-info">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="username" placeholder="Username">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
          
            <div class="input-group mb-3">
              <input type="email" class="form-control" name="email" placeholder="Email">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>

        
        <div class="input-group mb-3">
          <input type="password" class="form-control" name="password1" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="password2" placeholder="Retype password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>

        <div class="input-group mb-3">
          <input type="text" class="form-control" name="company_name" placeholder="Company_Name">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fa fa-building"></span>
            </div>
          </div>
        </div>
        
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="description" placeholder="Description">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fa fa-info-circle"></span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="exampleInputFile" name="logo">
              <label class="custom-file-label" for="exampleInputFile">Choose Logo</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="location" placeholder="Location">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-map-marker"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="input-group mb-3">
              <input type="tel" class="form-control" name="phone_number" placeholder="Phone Number">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fa fa-phone"></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <div class="input-group mb-3">
              <input type="url" class="form-control"  name="website" placeholder="Website">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fa fa-globe"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="input-group mb-3">
              <input type="text" class="form-control"  name="industry" placeholder="Industry">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fa fa-industry"></span>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="agreeTerms" name="terms" value="agree" onclick="changeCheck()">
              <label for="agreeTerms">
               I agree to the <a href="https://policies.google.com/terms?hl=en-US">terms</a>
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block" id="submitButton" disabled>Register</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <!-- <div class="social-auth-links text-center">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i>
          Sign up using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i>
          Sign up using Google+
        </a>
      </div> -->

      <a href="{% url 'all_login' %}" class="text-center">I already have a membership</a>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- bs-custom-file-input -->
<script src="{% static 'plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<!-- <script src="{% static 'dist/js/demo.js' %}"></script> -->
<!-- Page specific script -->
<script>
$(function () {
  bsCustomFileInput.init();
});
</script>
<script>
const agreeTerm = document.getElementById("agreeTerms");
const submitButton = document.getElementById("submitButton");

function changeCheck(){
    if (agreeTerm.checked){
      submitButton.disabled = false
    }else{
      submitButton.disabled = true
    }
}
</script>
</body>
</html>
