{% extends 'base/frame.html' %}

{% block content1 %}

<section class="content">
  <div class="container-fluid">

    <!-- SELECT2 EXAMPLE -->
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">Edit Profile</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">


              <div class="form-group">
                <label>Profile Photo</label>
                <div class="input-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="exampleInputFile" name="photo">
                    <label class="custom-file-label" for="exampleInputFile"></label>
                  </div>
                </div>
              </div>
              <!-- /.photo-->

              <div class="form-group">
                <label>FirstName</label>
                <input type="text" class="form-control" placeholder="{{profile.firstname}}" name="firstname">
              </div>
              <!-- /.firstname -->
              <div class="form-group">
                <label>LastName</label>
                <input type="text" class="form-control" placeholder="{{profile.lastname}}" name="lastname">
              </div>
              <!-- /.lastname -->

              <div class="form-group clearfix">
                <label>Gender</label>
                <div class="icheck-primary d-inline">
                  <input type="radio" name="gender" value="MALE" checked id="radioSuccess1" {% if profile.gender == "MALE" %} checked {% else %} "" {% endif %}>
                  <label for="radioSuccess1">
                    Male
                  </label>
                </div>
                <div class="icheck-primary d-inline">
                  <input type="radio" name="gender" value="FEMALE" id="radioSuccess2" {% if profile.gender == "FEMALE" %} checked {% else %} "" {% endif %}>>
                  <label for="radioSuccess2">
                    Female
                  </label>
                </div>
                <div class="icheck-primary d-inline">
                  <input type="radio" name="gender" value="OTHERS" id="radioSuccess3" {% if profile.gender == "OTHERS" %} checked {% else %} "" {% endif %}>
                  <label for="radioSuccess3">
                    Others
                  </label>
                </div>
              </div>
              <!-- /.radio -->

              <div class="form-group">
                <label>Marital Status</label>
                <select class="form-control select2bs4" style="width: 100%;" name="marital_status">
                  <option selected="selected">{{profile.marital_status}}</option>
                  <option value="SINGLE">Single</option>
                  <option value="MARRIED">Married</option>
                  <option value="DIVORCED">Divorced</option>
                  <option value="WIDOWED">Widowed</option>
                </select>
              </div>
              <!-- /.dropdown -->


              <div class="form-group">
                <label>Date of Birth</label>
              <input type="date" name="dob" >` 
              </div>
              <!-- /.date -->


              

            </div>
            <div class="col-md-6">


             

             

              <div class="form-group">
                <label>Work Status</label>
                <select class="form-control select2bs4" style="width: 100%;" name="workstatus">
                  <option selected="selected">{{profile.workstatus}}</option>
                  <option value="Experienced">I have work experience</option>
                  <option value="Fresher">I am a fresher</option>
                </select>
              </div>
              <!-- /.dropdown -->

              <div class="form-group">
                <label>Job Role</label>
                <input type="text" class="form-control" placeholder="{{profile.jobrole}}" name="jobrole">
              </div>

              <div class="form-group">
                <label>Address</label>
                <textarea class="form-control" rows="3" placeholder="{{profile.address}}" name="address"></textarea>
              </div>
              <!-- /.Textarea -->

              <div class="form-group">
                <label>PhoneNumber</label>
                <div class="input-group">
                  <input type="text" name="phone" class="form-control" data-inputmask='"mask": "(+99) 99999-99999"'
                    data-mask placeholder="{{profile.phone}}">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                  </div>
                </div>
              </div>
              <!-- /.phonenumber -->
            </div>
            <div class="col-md-6">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          </div>
        </form>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
  </div>
  <!-- /.container-fluid -->
</section>

{% endblock %}