{% extends 'base/frame.html' %}

{% block content1 %}

<section class="content">
  <div class="container-fluid">

    <!-- SELECT2 EXAMPLE -->
    <div class="card card-default">
      <div class="card-header">Edit CareerObject</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">

              <div class="form-group">
                <label>Career Objective</label>
                <textarea class="form-control" name="career_obj" id="" cols="30" rows="10">{{career.career_obj}}</textarea>
              </div>
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </div>
        </form>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
  </div>
  <!-- /.container-fluid -->
</section>

{% endblock %}