{% extends 'base/frame.html' %}
{% load static %}
{% block content1 %}
<section class="content">
  <div class="container-fluid">
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Profile Details</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <form  method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Project Name</label>
                  <input type="text" class="form-control" name="project_name" value="" placeholder="{{proj.project_name}}">
                </div>
                <div class="form-group">
                  <label>Project Description</label>
                  <textarea type="text" class="form-control" name="project_description"  placeholder="{{proj.project_description}}"></textarea>
                </div>
                <div class="form-group">
                  <label>Project Link</label>
                  <input type="url" class="form-control" name="project_link" value="" placeholder="{{proj.project_link}}">
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
  </div>
</section>
{% endblock %}