{% extends 'base/frame.html' %}
{% block content1 %}

<section class="content">
    <div class="container-fluid">
        <div class="card ">
            <div class="card-header"  style="background-color:  #29237E; color: white;">
                <h4 style="text-align: center;"> Job Search</h4></div>
                <div class="card-body">    
                <div class="row">
                    <div class="col-md-12 ">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <div class="col-md-5 offset-md-1">
                                    <input type="search" class="form-control form-control-lg" placeholder="Job Title" name="jobname"></div>
                                <div class="col-md-5">
                                    <input type="search" class="form-control form-control-lg" placeholder="Location" name="jobloc"></div>
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-lg btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-8 offset-md-2">
                        <br>                        
                        {% for j in jobs %}
                        <div class="card ">
                            <div class="card-header" style="color: white;background-color: #1F3E81;">
                                <h3 class="card-title">	 <i class="fa fa-bullhorn"></i> {{j.job_title}}</h3>
                                <div class="card-tools">
                                  <a href="{% url 'apply' j.id %}">
                                    <button type="button" class="btn btn-tool btn-primary">View <i class="fa fa-share-square"></i></button>
                                    </a>
                                </div>
                              </div>
                            <div class="card-body" style="color: #1F3E81;">
                            <h6 class="capitalize1"><i class="fa fa-building"></i> {{j.fk_delegate.c_name}}</h6>
                            <p class="capitalize1"><i class="fa fa-briefcase"></i> {{j.vacancy}} 	<i class="fa fa-map-marker"></i> {{j.location}} <i class="fa fa-inr"></i> {{j.salary}}</p>
                            <p> <i class="fa fa-folder-open"></i> {{j.job_description}}</p>
                            </div>
                        </div> 
                        {% endfor %} 
                    </div>
                </div>
                </div>

            
        </div>
    </div>
</section>

{% endblock %}

