{% extends 'base/frame.html' %}

{% block content1 %}

<section class="content">
    <div class="container-fluid">

        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
            <div class="card-header">Send a message</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label>From : </label>
                                <input type="text" class="form-control"
                                    placeholder="{{user.fk_user.email}}" readonly>
                            </div>
                            <div class="form-group">
                                <label>To : </label>
                                <input type="text" class="form-control"
                                    placeholder="hr@{{job.fk_delegate.c_name}}.com" readonly>
                            </div>

                            <div class="form-group">
                                <label>Message</label>
                                <textarea class="form-control" rows="5" name="msg"> Eg,
    I hope this message finds you well. I am reaching out regarding the {{job.job_title}} role at {{job.fk_company_pro.company_name}}, continue . . .</textarea>
                            </div>

                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
    </div>
    <!-- /.container-fluid -->
</section>

{% endblock %}