{% extends 'base2/base2.html' %}
{% block content3 %}
{% load static %}

 <!-- ======= Breadcrumbs ======= -->
 <div class="breadcrumbs">
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>FAQs</h2>
            <p>FAQs provide easy access to common questions and their answers related to a specific topic. They save time and reduce the need for individuals to seek additional resources. Effective FAQs should be concise, clear, and easy to navigate.</p>
          </div>
        </div>
      </div>
    </div>
    <nav> 
      <div class="container">
        <ol>
          <li><a href="index2.html">Home</a></li>
          <li>FAQs</li>
        </ol>
      </div>
    </nav>
  </div><!-- End Breadcrumbs -->
      <!-- ======= Frequently Asked Questions Section ======= -->
      <section id="faq" class="faq">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <span>Frequently Asked Questions</span>
            <h2>Frequently Asked Questions</h2>
  
          </div>
  
          <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-8">
  
              <div class="accordion accordion-flush" id="faqlist">
  
                <div class="accordion-item">
                  <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                      <i class="bi bi-question-circle question-icon"></i>
                      What is this website all about?</button>
                  </h3>
                  <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                    <div class="accordion-body">
                      This website is a job portal that aims to connect job seekers with potential employers. It provides a platform for job seekers to browse and apply for various job opportunities, and for employers to post job openings and search for qualified candidates.</div>
                  </div>
                </div><!-- # Faq item-->
  
                <div class="accordion-item">
                  <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                      <i class="bi bi-question-circle question-icon"></i>
                      How do I create an account?</button>
                  </h3>
                  <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                    <div class="accordion-body">
                      To create an account, click on the "Sign Up" or "Register" button on the website's homepage. You will be asked to provide some basic information such as your name, email address, and a password. Once you have completed the registration process, you will be able to log in to your account and start browsing job listings</div>
                  </div>
                </div><!-- # Faq item-->
  
                <div class="accordion-item">
                  <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                      <i class="bi bi-question-circle question-icon"></i>
                      How do I search for jobs?</button>
                  </h3>
                  <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                    <div class="accordion-body">
                      To apply for a job, simply click on the job listing and follow the instructions provided by the employer. Some job listings may require you to submit a resume or cover letter, while others may have an online application form that you need to fill out.</div>
                  </div>
                </div><!-- # Faq item-->
  
                <div class="accordion-item">
                  <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                      <i class="bi bi-question-circle question-icon"></i>
                      How do I post a job opening?</button>
                  </h3>
                  <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                    <div class="accordion-body">
                      If you are an employer looking to post a job opening, you will need to create an account on the website and then click on the "Add Job" button. You will be asked to provide some basic information about the job, such as the job title, location, and job description. You may also be asked to provide information about the qualifications and experience required for the job.</div>
                  </div>
                </div><!-- # Faq item-->
  
                <div class="accordion-item">
                  <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                      <i class="bi bi-question-circle question-icon"></i>
                      How do I edit or delete a job posting?</button>
                  </h3>
                  <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                    <div class="accordion-body">
                      If you need to edit or delete a job posting, simply log in to your account and navigate to the specific job in the Jobs list that you want to modify. You should see options to edit or delete the posting.</div>
                  </div>
                </div><!-- # Faq item-->

                <div class="accordion-item">
                  <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-6">
                      <i class="bi bi-question-circle question-icon"></i>
                      Is this website free to use?</button>
                  </h3>
                  <div id="faq-content-6" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                    <div class="accordion-body">
                      It depends on the website's business model. Some job portals are free for both job seekers and employers, while others may charge a fee for employers to post job openings or for job seekers to access certain features or services. Check the website's terms and conditions or FAQ section to find out more.
                    </div>
                  </div>
                </div><!-- # Faq item-->

                <div class="accordion-item">
                  <h3 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-7">
                      <i class="bi bi-question-circle question-icon"></i>
                      How can I contact customer support?</button>
                  </h3>
                  <div id="faq-content-7" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                    <div class="accordion-body">
                      Most job portals have a customer support team that you can contact if you have any questions or issues with the website. Look for a "Contact Us" or "Help" section on the website for information on how to get in touch with customer support. This may include options such as email, phone, or live chat support.
                    </div>
                  </div>
                </div><!-- # Faq item-->
  
              </div>
  
            </div>
          </div>
  
        </div>
      </section><!-- End Frequently Asked Questions Section -->
{% endblock %}