{% extends 'base/frame.html' %}
{% load static %}
{% block content1 %}

<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header" style="background-color:  #29237E; color: white;">
        <h3 class="card-title pt-2"> Applicants  <i class="nav-icon fa fa-users" aria-hidden="true"></i></h3>
        <div class="col-md-4 offset-md-8">
            <form action="" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input type="search" class="form-control form-control-lg" placeholder="Type your keywords here" name="firstname">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-lg btn-default bg-light">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
      </div>

      <div class="card-body p-0">
        <table class="table table-striped">
          <thead style="text-align: center;">
            <tr>
                <th style="width: 10px">#</th>
                <th>Photo</th>
                <th>Name</th>
                <th>Email</th>
                <th>Job Role</th> 
                <th>Views</th>
                <th>Delete</th> 
            </tr>
          </thead>
          <tbody style="text-align: center;">
            {%for i in profile%}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td><a href=""><img src="{{i.photo.url}}" alt="" width='50'  height="50" style=" border-radius: 50%;"></td></a>
              <td>{{i.firstname}} {{i.lastname}}</td>
              <td>{{i.fk_user.email}}</td>
              <td>{{i.jobrole}}</td>
              <td class="project-actions">
                <a class="btn btn-primary btn-sm" href="{% url 'user_view' i.id %}">
                    <i class="fas fa-folder">
                    </i>
                    View
                </a>
              </td>
              <td class="project-actions">
                <a class="btn btn-danger btn-sm" href="{% url 'user_delete' id=i.fk_user.id %}">
                    <i class="fas fa-trash">
                    </i>
                    Delete
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
      <!-- <div class="card-footer">
        Footer
      </div> -->
      <!-- /.card-footer-->
    </div>
  </div>
</section>

{% endblock %}