{% extends 'base/frame.html' %}
{% load static %}
{% block content1 %}

<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row mt-3">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-gradient-primary">
                    <div class="inner">
                        <h3>{{profile.count}}</h3>

                        <p>No of Users</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person"></i>
                    </div>
                    <a href="#card2" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>


            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-gradient-info">
                    <div class="inner">
                        <h3>{{company.count}}</h3>

                        <p>No of Companies</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="#card1" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>


            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{job.count}}</h3>

                        <p>No of Jobs</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-briefcase"></i>
                    </div>
                    <a href="{% url 'admin_job_details' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>{{live.count}}</h3>

                        <p>Live Jobs</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-clock"></i>
                    </div>
                    <a href="{% url 'admin_live_jobs' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>


        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <!-- donut -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Job chart</h3>
        
                <input type="number" id="total_job" value="{{ job.count }}" hidden>
                <input type="number" id="filledJob" value="{{ filled.count }}" hidden>
                <input type="number" id="notFilled" value="{{ live.count }}" hidden>
              </div>
              <div class="card-body">
                <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
          <div class="col-md-6">
            <!-- pie -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Total Users</h3>
        
                <input type="number" id="companies" value="{{ company.count }}" hidden>
                <input type="number" id="users" value="{{ profile.count }}" hidden>
           
              </div>
              <div class="card-body">
                <canvas id="donutChart1" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
            
            <!-- /.col -->
            <div class="col-md-6">
                <section class="card1" id="card1">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Company Data</h3>
                    <div class="card-tools">
                        <a href="{% url 'admin_companies' %}"> 
                          <button type="button" class="btn btn-tool border" >More <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                          </a>
                      </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                    <table class="table">
                      <thead>
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>Company Name</th>
                          <th>Location</th>
                          <th>Company Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for f in filtered_companies %}
                        <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{f.company_name}}</td>
                          <td>{{f.location}}</td>
                          <!-- change -->
                          {%if f.company_status == True %}
                          <td>Approved</td>
                          {% else %}
                          <td>Unapproved</td>
                          {% endif %}
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </section>
            </div>
            <div class="col-md-6">
                <section class="card2" id="card2">
                <div class="card ">
                  <div class="card-header">
                    <h3 class="card-title">Applicant Data</h3>
                    <div class="card-tools">
                        <a href="{% url 'admin_applicants' %}"> 
                          <button type="button" class="btn btn-tool border" >More <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                          </a>
                      </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                    <table class="table">
                      <thead>
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>Applicant Name</th>
                          <th>Phone Number</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for f in filtered_applicants %}
                        <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{f.firstname}}</td>
                          <td>{{f.phone}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </section>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
</section>
<script>
    $(function () {
        //-------------
       //- DONUT CHART -
       //-------------
       // Get context with jQuery - using jQuery's .get() method.
       var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
       var donutData        = {
         labels: [
             'Total Jobs',
             'Active Jobs',
             'Filled Jobs',
   
         ],
         datasets: [
           {
            data: [document.getElementById('total_job').value,document.getElementById('notFilled').value,document.getElementById('filledJob').value],
            //  data:[30,50,40,10],
             backgroundColor : ['#AA77FF', '#537FE7', '#62CDFF'],
           }
         ]
       }
       var donutOptions     = {
         maintainAspectRatio : false,
         responsive : true,
       }
       //Create pie or douhnut chart
       // You can switch between pie and douhnut using the method below.
       new Chart(donutChartCanvas, {
         type: 'doughnut',
         data: donutData,
         options: donutOptions
       })
   
   
    })
   </script>

<script>
  $(function () {
      //-------------
     //- DONUT CHART -
     //-------------
     // Get context with jQuery - using jQuery's .get() method.
     var donutChartCanvas = $('#donutChart1').get(0).getContext('2d')
     var donutData        = {
      labels: [
          'Companies',
          'Users',
      ],
      datasets: [
        {
         data: [document.getElementById('companies').value,document.getElementById('users').value],
         //  data:[30,50,40,10],
          backgroundColor : ['#62CDFF','#537FE7'],
        }
      ]
     }
     var donutOptions     = {
       maintainAspectRatio : false,
       responsive : true,
     }
     //Create pie or douhnut chart
     // You can switch between pie and douhnut using the method below.
     new Chart(donutChartCanvas, {
       type: 'doughnut',
       data: donutData,
       options: donutOptions
     })
 
 
  })
 </script>
 

{% endblock %}

<!-- Not included  -->

<div class="col-md-6">
  <!-- AREA CHART -->
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Area Chart</h3>
      <input type="number" id="companies" value="{{ company.count }}" hidden>
      <input type="number" id="users" value="{{profile.count}}" hidden>
    </div>
    <div class="card-body">
      <div class="chart">
        <canvas id="areasChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
      </div>
    </div>
  </div>
</div>



<script>
  $(function () {
     //-------------
    //- AREA CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var areaChartCanvas = $('#areasChart').get(0).getContext('2d')
    var areaData        = {
      labels: [
          'Total Jobs',
          'Active Jobs',
          'Filled Jobs',
      ],
      datasets: [
        {
         label: 'Job Status',
         data: [document.getElementById('total_job').value,document.getElementById('notFilled').value,document.getElementById('filledJob').value],
         backgroundColor : 'rgba(83, 127, 231, 0.2)',
         borderColor : '#537FE7',
         pointBorderColor: '#fff',
         pointBackgroundColor: '#537FE7',
         pointRadius: 4,
         pointHoverRadius: 6,
         fill: true
        }
      ]
    }
    var areaOptions     = {
      maintainAspectRatio : false,
      responsive : true,
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
    //Create area chart
    new Chart(areaChartCanvas, {
      type: 'line',
      data: areaData,
      options: areaOptions
    })
  
  
  })
  </script>

<script>
  $(function () {
     //-------------
    //- PIE CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
    var pieData        = {
      labels: [
          'Companies',
          'Users',
      ],
      datasets: [
        {
         data: [document.getElementById('companies').value,document.getElementById('users').value],
         //  data:[30,50,40,10],
          backgroundColor : ['#62CDFF','#537FE7'],
        }
      ]
    }
    var pieOptions     = {
      maintainAspectRatio : false,
      responsive : true,
    }
    //Create pie chart
    new Chart(pieChartCanvas, {
      type: 'pie',
      data: pieData,
      options: pieOptions
    })
  
  
  })
  </script>