{% extends 'base/frame.html' %}
{% load static %}
{% block content1 %}


<section class="content">
    <div class="container-fluid">
        <div class="col-md-12">




            <div class="card">
                                <!-- Modal -->
    <div class="modal fade" id="view" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Job View</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-4">
                  <img src="" id="view_logo" alt="" width="120px" height="120px">
                </div>
                <div class="col-md-12">
                  <h3 id="view_name"></h3>
                  <p><strong>Company Name:</strong> <span id="view_company_name"></span></p>
                  <p><strong>Job Title:</strong> <span id="view_job_title"></span></p>
                  <p><strong>Job Description:</strong> <span id="view_job_description"></span></p>
                  <p><strong>No.of.vacancy:</strong> <span id="view_vacancy"></span></p>
                  <p><strong>Job Type:</strong> <span id="view_job_type"></span></p>
                  <p><strong>Industry:</strong> <span id="view_industry"></span></p>
                  <p><strong>Location:</strong> <span id="view_location"></span></p>
                  <p><strong>Job_fields:</strong> <span id="view_job_fields"></span></p>
                  <p><strong>Salary:</strong> <span id="view_salary"></span></p>
                  <p><strong>Education Requirements:</strong> <span id="view_education_requirements"></span></p>
                  <p><strong>Experience Requirements:</strong> <span id="view_experience_requirements"></span></p>
                  <p><strong>Skills and Qualifications:</strong> <span id="view_skills_and_qualifications"></span></p>
                  <p><strong>Application Deadline:</strong> <span id="view_application_deadline"></span></p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
                <div class="card-header">
                    <div class="card-title">Job Details</div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <table class="table table-striped">
                        <thead style="text-align: center;">
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Owner</th>
                                <th>Company Name</th>
                                <th>Job Title</th>
                                <th>Job Type</th>
                                <th>Vacancy</th>
                                <th>Industry</th>
                                <th>View</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody style="text-align: center;">
                            {% for j in job %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td class="capitalize1">{{j.fk_company_pro.company_name}}</td>
                                <td class="capitalize1">{{j.fk_delegate.c_name}}</td>
                                <td>{{j.job_title}}</td>
                                <td>{{j.job_type}}</td>
                                <td>{{j.vacancy}}</td>
                                <td>{{j.industry}}</td>
                                  <td class="project-actions">
                                    <button class="btn btn-primary btn-sm" 
                                      data-toggle="modal" 
                                      data-target="#view" 
                                      data-logo="{{j.fk_company_pro.logo.url}}"
                                      data-company_name="{{j.fk_company_pro.company_name}}"
                                      data-job_title="{{j.job_title}}"
                                      data-job_description="{{j.job_description}}"
                                      data-vacancy="{{j.vacancy}}"
                                      data-job_type="{{j.job_type}}"
                                      data-industry="{{j.industry}}"
                                      data-location="{{j.location}}"
                                      data-job_fields="{{j.job_fields}}"
                                      data-salary="{{j.salary}}"
                                      data-education_requirements="{{j.education_requirements}}"
                                      data-experience_requirements="{{j.experience_requirements}}"
                                      data-skills_and_qualifications="{{j.skills_and_qualifications}}"
                                      data-application_deadline="{{j.application_deadline}}">
                                      <i class="fa fa-folder" aria-hidden="true"></i>
                                        View
                                    </button>  
                                </td>
                                  <td class="project-actions">
                                    <a class="btn btn-danger btn-sm" href="{% url 'admin_job_delete' j.id %}">
                                        <i class="fas fa-trash">
                                        </i>
                                        Delete
                                    </a>
                                  </td>
                    
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
</section>


<script>
    // Get the modal element
    var userJobModal = document.getElementById("view");
    
    // Get the button that opens the modal
    var viewJobButtons = document.querySelectorAll("[data-target='#view']");
    
    // Add a click event listener to each "View Profile" button
    for (var i = 0; i < viewJobButtons.length; i++) {
      viewJobButtons[i].addEventListener("click", function() {
        // Extract the data attributes from the clicked button

        var logo = this.getAttribute("data-logo");
        var company_name = this.getAttribute("data-company_name");
        var job_title = this.getAttribute("data-job_title");
        var job_description = this.getAttribute("data-job_description");
        var vacancy = this.getAttribute("data-vacancy");
        var job_type = this.getAttribute("data-job_type");
        var industry = this.getAttribute("data-industry");
        var location = this.getAttribute("data-location");
        var job_fields = this.getAttribute("data-job_fields");
        var salary = this.getAttribute("data-salary");
        var education_requirements = this.getAttribute("data-education_requirements");
        var experience_requirements = this.getAttribute("data-experience_requirements");
        var skills_and_qualifications = this.getAttribute("data-skills_and_qualifications");
        var application_deadline = this.getAttribute("data-application_deadline");

    
        // Update the content of the modal with the user's profile information
        userJobModal.querySelector("#view_company_name").textContent = company_name;
        userJobModal.querySelector("#view_logo").setAttribute("src", logo);
        userJobModal.querySelector("#view_job_title").textContent = job_title;
        userJobModal.querySelector("#view_job_description").textContent = job_description;
        userJobModal.querySelector("#view_vacancy").textContent = vacancy;
        userJobModal.querySelector("#view_job_type").textContent = job_type;
        userJobModal.querySelector("#view_industry").textContent = industry;
        userJobModal.querySelector("#view_location").textContent = location;
        userJobModal.querySelector("#view_job_fields").textContent = job_fields;
        userJobModal.querySelector("#view_salary").textContent = salary;
        userJobModal.querySelector("#view_education_requirements").textContent = education_requirements;
        userJobModal.querySelector("#view_experience_requirements").textContent = experience_requirements;
        userJobModal.querySelector("#view_skills_and_qualifications").textContent = skills_and_qualifications;
        userJobModal.querySelector("#view_application_deadline").textContent = application_deadline;


      });
    }
  </script>
{% endblock %}
